<h1>Desireランキング</h1>
<% if @items.present? %>
  <% @items.each.with_index(1) do |item, index| %>
    <div class="item">
      <div class="card"> 
        <div class="card-heading text-center">
          <img src="<%= item.image_url %>" alt="">
        </div>
        <div class="card-body">
        <p class="item-title"><%= link_to item.name, item_path(item.code) %></p>
          <div class="buttons text-center">
            <% if logged_in? %>
              <%= render 'desires/desire_button', item: item %>
            <% end %>
          </div>
          <div class="footer">
            <p class="text-center"><%= index %>位: <%= @ranking_counts[item.id] %> Desires</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>  
<% end %>