<h1>Wantランキング</h1>
<% if @items.present? %>
  <% @items.each_with_index do |item, index| %>
    <div class="item">
      <div class="card"> 
        <div class="card-heading text-center">
          <img src="<%= item.image_url %>" alt="">
        </div>
        <div class="card-body">
          <p class="item-title"><%= link_to item.name, item_path(item.code) %></p>
          <div class="buttons text-center">
            <% if logged_in? %>
              <%= render 'wants/want_button', item: item %>
            <% end %>
          </div>
          <div class="footer">
            <p class="text-center"><%= index+1 %>位: <%= @ranking_counts[item.id] %> Wants</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>