<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-left" href="/"><img src="/images/logo.png" alt="AmazonList""></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li>
          　<i class="fas fa-arrow-alt-circle-down"></i>
            <a href="#">アイテムを追加</a>　　　　　　　
          </li>
          <li>
          　<i class="fas fa-users"></i>
            <a href="#">ユーザ一覧</a>
          </li>
          <li>
            <i class="fas fa-hands-helping"></i>
            <a href="#">フォロー/フォロワー一覧</a>            
          </li>
        <div class="dropdown">
        <i class="fas fa-chart-line"></i>
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ランキング
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">後で欲しいものランキング</a>
            <a class="dropdown-item" href="#">後で欲しいものランキング</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <span class="gravatar">
              <img src="<%= gravatar_url(current_user, size: 20) %>" alt="" class="img-circle">
            </span>
          <%= current_user.name %>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">メニュー1</a>
          <%= link_to 'マイページ', user_path(current_user) %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
          <%= link_to 'ログアウト', logout_path, method: :delete %>
          </a>
          <% else %>
         <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
          <%= link_to "新規登録", signup_path,class: 'btn btn-primary' %>
          </li>
          <li class="nav-item">
          <%= link_to "ログイン", login_path,class: 'btn btn-primary' %>
        </li>
        </ul>
       <% end %>
      </ul>
    </div>
  </nav>
</header>
  <%= link_to 'ログアウト', logout_path, method: :delete %>